@model EmployeeOrderingSystem.ViewModels.EmployeeDepositViewModel
@{
    ViewData["Title"] = "Deposit";
}

<div class="container col-lg-6">
    <form asp-action="Deposit" method="post" class="mt-4 form-control">
        <h2>Deposit to Employee Account</h2>
        <input type="hidden" asp-for="EmployeeId" />
        <div class="form-group">
            <label asp-for="DepositAmount"></label>
            <input asp-for="DepositAmount" class="form-control" min="1" type="number" step="0.01" required />
            <span asp-validation-for="DepositAmount" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-outline-primary m-1" style="width:110px"><i class="bi bi-coin"></i>&nbsp; Deposit</button>
        <a asp-action="Balance" class="btn btn-outline-secondary m-1" style="width:110px">Cancel</a>
    </form>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success mt-2">@TempData["Message"]</div>
}
